.build/
.swiftpm/
DerivedData/
*.xcuserstate
.DS_Store
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.env
.env.*
!.env.example
*.p12
*.p8
*.mobileprovision
